# FastAPI and server
fastapi
uvicorn[standard]
python-multipart
scalar-fastapi

# Database
sqlalchemy
asyncpg
psycopg2-binary
alembic

# Authentication
passlib
argon2-cffi
bcrypt
itsdangerous
python-jose[cryptography]

# Configuration
python-dotenv
pydantic-settings
pydantic[email]
pandas
scikit-learn
joblib

# File storage and processing
boto3
python-magic
pillow
pypdf2
pytesseract
pymupdf
python-docx
google-generativeai

# Testing
pytest
pytest-asyncio
httpx
groq
